/*This is code written by Frederik Alexander Hounsvad
The use of this code in a non commercial and non exam environment is permitted
*/
/* 
    Created on : Apr 24, 2019, 12:51:44 PM
    Author     : Sanitas Solutions
*/

.button, .button:focused{
    -fx-text-fill: white;
    -fx-background-color: #B22222;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 12pt;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color: derive(#B22222, -40%);
    -fx-border-color: -fx-primary;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 12pt;
}

/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:-fx-primary;

}

/* The increment and decrement button CSS class of scrollbar */
.increment-button ,.decrement-button {
    -fx-background-color:transparent;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
    -fx-background-color: -fx-primary;
    -fx-border-color:-fx-primary;
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:-fx-secondary;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
    -fx-background-color: -fx-primary;

    -fx-opacity: 0.2;
    -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
    -fx-background-color: derive(-fx-secondary, 20%);
}

.increment-button:hover ,.decrement-button:hover {
    -fx-background-color: derive(-fx-secondary, 20%);
    -fx-border-color: derive(-fx-secondary, 20%);
}


